<!DOCTYPE html>
<html>
<head>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="socket.io-file-client.js"></script> 
	<script>
		var socket = io();
		
		function reboot() {
			socket.emit('reboot');
		}
		
		function shutdown() {
			socket.emit('shutdown');
		}
		socket.on('companion version', function(data) {
			document.getElementById('companion version1').innerHTML = data;
			console.log('got version in header')
		});
		socket.emit('get companion version');
	</script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="color:white">ArduSub Companion Computer Setup</a>
				<p class="text" style="color:white">
					Companion Version:
					<span id="companion version1"></span>
				</p> 
			</div>
			<div id="navbar" class="collapse navbar-collapse" align="right">
				<ul class="nav navbar-nav">
					<li><a href="/network">Network</a></li>
					<li><a href="/system">System</a></li>
					<li><a href="/camera">Camera</a></li>
					<li><a href="/routing">Routing</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<button onclick="reboot()" class="btn btn-primary btn-sm navbar-btn">Reboot</button>
					<button onclick="shutdown()" class="btn btn-error btn-sm navbar-btn">Shutdown</button>
                <ul class="toggle">
                    <label class="switch">
                        <input id='advanced-checkbox' type="checkbox">
                        <span class="slidernew round"></span>
                    </label>
                    Enable Advanced Options
                </ul>
				</form>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
