{% include ../_includes/header.liquid %}

<script src="socket.io-file-client.js"></script> 
<script>
var socket = io();
socket.on('terminal output', function(data) {
	var currentHTML = document.getElementById("terminal-output").innerHTML;
	document.getElementById("terminal-output").innerHTML = currentHTML + data;
	document.getElementById("terminal-output").scrollTop = document.getElementById("terminal-output").scrollHeight
});

socket.on('ping version', function(data) {
	document.getElementById('ping version').innerHTML = data;
});

socket.on('ping devices', function(data) {
	console.log('ping devices', data);
	document.getElementById('ping devices').innerHTML = data;
	
	var select = document.getElementById("ping devices");
	data.forEach(function(device) {
		var option = document.createElement('option');
		option.value = device;
		option.innerHTML = device;
		select.appendChild(option);
	});
});

function getPingDevices() {
	socket.emit('get ping devices');
	console.log('get ping devices');
}

function updatePing(fileInfo) {
	document.getElementById('pingProgress').innerHTML = "";
	verifyOption = document.getElementById('verifyOption')
	deviceOption = document.getElementById('ping devices')
	uploader.off('stream', pingProgress);
	uploader.off('complete', updatePing);
	socket.emit('update ping',
		{
			'file'   : fileInfo.name,
			'device' : deviceOption.value,
			'verify' : verifyOption.checked
		});
}

function pingProgress(fileInfo) {
	document.getElementById('pingProgress').innerHTML = `Uploading: ${fileInfo.sent} / ${fileInfo.size} byte(s)`;
}

socket.on('ping update complete', function(data) {
	disableUpdates(false);
	showPingSpinner(false);
});

function disableUpdates(disabled) {
	document.getElementById('pingFileButton').disabled = disabled;
}

function showPingSpinner(show) {
	document.getElementById('pingSpinner').style.visibility = show ? "visible" : "hidden";
}

socket.emit('get ping version');

var uploader = new SocketIOFileClient(socket);

uploader.on('start', function(fileInfo) {
	console.log('Start uploading', fileInfo);
});
uploader.on('stream', function(fileInfo) {
	console.log('Streaming... sent ' + fileInfo.sent + ' bytes.');
});
uploader.on('complete', function(fileInfo) {
	console.log('Upload Complete', fileInfo);
});
uploader.on('error', function(err) {
	console.log('Error!', err);
	disableUpdates(false);
	showPingSpinner(false);
	
	uploader.off('stream', pingProgress);
	uploader.off('complete', updatePing);
});

uploader.on('abort', function(fileInfo) {
	console.log('Aborted: ', fileInfo);
});

function submit(onComplete, onStream, fileElement) {
	var fileEl = document.getElementById(fileElement);
	var uploadIds = uploader.upload(fileEl);
	console.log(fileEl.value);
	
	if (!fileEl.value) {
		console.log('No file selected!');
		return false;
	}
	
	disableUpdates(true);
	
	showPingSpinner(true);
	
	uploader.on('complete', onComplete);
	uploader.on('stream', onStream);
};

// Fetch detected devices
getPingDevices();

</script>

<h1>Ping Update</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Ping status
					<i id="pingSpinner" class="fa fa-refresh fa-spin fa-2x fa-fw" style="visibility:hidden;"></i>
					<span id="pingProgress"></span>
				</h3>
			</div>
			<div class="panel-body">
				<h4>Version: </h4>
				<span id="ping version">Ping Version</span>
				<div class="form-group">
					<label>Select Ping Device:</label>
					<select class="form-control" id="ping devices"></select>
				</div>
				<div>
					<h4>Upload Update:</h4>
					<input id="pingFileButton" type="submit" class="btn btn-primary" value="Upload" onClick="submit(updatePing, pingProgress, 'pingFile')" style="display:table-cell"/>
					<input type="file" id="pingFile" style="display:table-cell;" />
					<input type="checkbox" id="verifyOption">Verify</input>
				</div>
				<br />
				<div>
				<textarea rows="20" cols="120" id="terminal-output" style="font-family:monospace"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

{% include ../_includes/footer.liquid %}
